@media only screen and (min-width: 960px) and  (max-width: 1260px) {
  
    
}
@media only screen and (min-width: 0px) and  (max-width: 960px) {
   
    .rating2imgpt img{
      height: auto;  
    }
    
    .footer2{
        display: flex;
    }
    .before-nav{
       height: 40px; 
    }
    .nav-icons-main {
        display: none;   
    }
    .bazarheading {
        display: none;   
    }
    .searchparent {
        width: 80%;   
        
    }
    .navbar-main{
        justify-content: center;
    }
    .navbar-main2 {
        display: none;   
        
    }
    .Carousel-heading>h1{
        font-size: 40px;
    }
    .deals-heading h1{
        padding-left: 18px;
        font-size: 20px;
        padding-top: 18px;
    }
    /* .footer-main {
        display: none;   
        
    } */
    .cars-category{
        display: none;
    }
    .cars-main{
        grid-template-columns: 1fr;
    }
    
}

@media only screen and (min-width: 700px) and  (max-width: 960px) {
    .rating1main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
    .cars-items-main{
        grid-template-columns: 1fr 1fr;
        }
    
    .Carousel-main {
     height: 525px;   
    }
    .deals-item-childs {
        margin: 4px;
    }
    .deals-item-childs {
        margin: 4px;
    }
    .rating-main {
       flex-direction: column; 
    }
    .rating1 {
       width: 100%; 
    }
    .rating2 {
       width: 100%; 
    }
    .arrival-items-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .discount-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
   
    .categories-main{
        grid-template-columns: repeat(3,1fr);
    }
    .about-main{
        grid-template-columns: repeat(1,1fr);
        margin-top: 40px;
    }
    .about-items{
        margin: 12px 10px;
    }
    .footer-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin-bottom: 73px;
    }
    .footer-child p{
        margin: 0px;
    }
    .footer-child{
        margin: 0px;
        width: 100%;
        
    }
    .footer-child h1{
        margin: 0px;
        
    }
}

@media only screen and (min-width: 600px) and  (max-width: 700px) {
    .deal-item-main{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .cars-items-main{
        grid-template-columns: 1fr 1fr;
        }
    .banner-main{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .banner-img-1{
        width: 100%;
    }
    .banner-img-2{
        width: 100%;
    }
    .Carousel-main {
        height: 525px;   
       }
       .deals-item-childs {
           margin: 4px;
       }
       .deals-item-childs {
           margin: 4px;
       }
       .rating-main {
          flex-direction: column; 
       }
       .rating1 {
          width: 100%; 
       }
       .rating2 {
          width: 100%; 
       }
       .arrival-items-main{
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
       }
       .discount-main {
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
       }
      
       .categories-main{
           grid-template-columns: repeat(3,1fr);
       }
       .about-main{
           grid-template-columns: repeat(1,1fr);
           margin-top: 40px;
       }
       .about-items{
           margin: 12px 10px;
       }
       
       .search-icons {
        width: 75%;
       }
       .foryou-main {
        grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
       }
       .footer-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        
    }
    .footer-child p{
        margin: 0px;
    }
    .footer-child{
        margin: 0px;
        width: 100%;
        
    }
    .footer-child h1{
        margin: 0px;
        
    }
}
@media only screen and (min-width: 0px) and  (max-width: 600px) {
    .nav-all-cat ul{
        left: -120px;
        top: 30px;
    }
    .search-cat{
        display: none;
    }
    .navbar-main{
        width: 95%;
    }
    .search-cat-pt{
        padding-left: 12px;
    }
    .banner-img-1{
        width: 100%;
    }
    .banner-main{
        width: 90%;
    }
    .banner-img-2{
        width: 100%;
    }
    .navbar-main{
        width: 87%;
    }
    .deal-item-main{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .Carousel-main {
        height: 800px; 
        flex-direction: column;  
       }
       .Carousel-img-pt{
           width: 100%;
       }
       .Carousel-img-pt img{
           height: 300px;
           width: 70%;
    margin: 0 auto;
       }
       .Carousel-heading{
           padding: 20px;
           width: 87%;
       }
       .deals-item-childs {
           margin: 4px;
       }
       .deals-item-childs {
           margin: 4px;
       }
       .rating-main {
          flex-direction: column; 
       }
       .rating1 {
          width: 90%; 
       }
       .rating1main{
           display: grid;
           grid-template-columns: 1fr 1fr;
           height: auto;
       }
       .rating2main{
        display: grid;
        grid-template-columns: 1fr ;
        height: auto;
       }.rating2imgpt img{
           height: 400px;
           border-radius: 6px;
           width: 90%;
       }
       .rating2 {
          width: 90%; 
       }
       .arrival-items-main{
           display: grid;
           grid-template-columns: 1fr  1fr;
       }
       .discount-main {
           display: grid;
           grid-template-columns: 1fr  1fr;
       }
       .cars-items-main{
           display: grid;
           grid-template-columns: 1fr;
       }
      
       .categories-main{
           grid-template-columns: repeat(1,1fr);
       }
       .about-main{
           grid-template-columns: repeat(1,1fr);
           margin-top: 40px;
       }
       .about-items{
           margin: 12px 10px;
       }
       
       .search-icons {
        width: 90%;
       }
       .foryou-main {
        grid-template-columns:1fr
       }
       .footer-main{
        display: grid;
        grid-template-columns: 1fr ;
        place-items: center;
    }
    .footer-child p{
        margin: 0px;
    }
    .footer-child{
        margin: 0px;
        width: 100%;
        
    }
    .footer-child h1{
        margin: 0px;
        
    }
    .searchparent {
        width: 100%;   
        
    }
}

