body{
  background-color: #f6f9fc;

}
.rating-main {
  display: flex;
  background-color: #f6f9fc;
  justify-content: space-around;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}
.rating1 {
  /* display: flex; */
  width: 45%;
  /* justify-content: space-around;
  background-color: white;
  flex-direction: column; */
  
}
.rating1main{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
}

.rating1child {
  display: flex;
  justify-content: space-around;
  background-color: white;
  /* height: 240px; */
  padding: 9px;
  /* margin: 15px; */
  flex-direction: column;
}
.rating1child img {
  width: 100%;
  transition:all 0.6s;
  
}
.rating1child img:hover {
 background: rgba(0, 0, 0, 0.2); 
  
}
.rating1child h3 {
  text-align: center;
  font-weight: 400;
    margin: 6px;
}
.rating1child h4 {
  margin: 0px;
  text-align: center;
  color: #D23F57;
  margin-bottom: 20px;
  font-weight: 400;


}
.rating2 {
  width: 50%;
}
.rating2main{
  display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-around;
  
}

.rating2imgpt{
 margin: 20px;
 width: 100%;
}
.rating2imgpt >h4{
  margin: 5px;
  font-weight: 500;
}
.rating2imgpt p{
margin: 12px;
}
.rating2imgpt img{
  width: 100%;
  transition:all 0.6s;
  height: 180px;
}
.rating2imgpt img:hover{
 background: rgba(0, 0, 0, 0.5); 
  
}

/* arrivals */
.arrival-items-main{
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  padding: 5px;
    border-radius: 12px;
  justify-content: space-around;
}
.arrival-itmes{
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.arrival-itmes h4{
  color: #D23F57;
  margin: 0px;
  font-weight: 400;
  margin-left: 6px;
}
.arrival-itmes p{
margin: 6px;
font-size: 18px;
}
.arrival-itmes img{
  width: 100%;
  transition: all 0.6s;
}
.arrival-itmes img:hover{
 background: rgba(0, 0, 0, 0.2); 
  
}
.arrow1{
  position: absolute;
  left: 0px;
  top: 40%;
}
.arrow2{
  position: absolute;
  right: 0px;
    top: 40%;
}

/* discounts */
.discount-main{
  display: flex;
  background-color: #f6f9fc;
  justify-content: space-around;
  max-width: 1280px;
  margin: 0 auto;
}
.discount-item{
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 6px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}


.discount-item img{
  height: 172px;
  border-radius: 12px;
  width: 100%;
  transition: all 0.6s;
}
.discount-item img:hover{
 background: rgba(0, 0, 0, 0.5); 
  
}
.discount-item h4{
  color: red;
  margin: 6px;
}
.discount-item p{
margin: 6px;
}

/* cars component */
.cars-main{
    display: grid;
margin-top: 50px;
max-width: 1280px;
  margin: 0 auto;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: 270px auto;
}
.cars-items-main{
  background-color: #f6f9fc;
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}
.cars-cat-items:last-child .car-icon{
  display: none;
  
}
.cars-cat-items:last-child{
  margin-top: 60px;
  justify-content: center;
}
.cars-cat-items{
  background-color: #f6f9fc;
  
  display: flex;
  /* justify-content: center; */
  margin: 12px;
  border-radius: 12px;
  width: 80%;
  transition: all 0.6s;
}
.cars-cat-items:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.cars-cat-items p{
font-size: 20px;
}
.cars-category{
  width: 100%;
  display: flex;
  background-color: white;


  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  margin: 12px;
  max-height: 660px;
}
.cat-more-pt{
  display: flex;
  width: 70%;
    justify-content: space-between;
}

/* banner */
.banner-main{
  width: 100%;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}
.banner-main img{
margin: 12px;
}
.banner-img-1{
  width: 20%;
    height: 320px;
}
.banner-img-2{
  width: 70%;
  height: 320px;
  
}
/* catogories */
.categories-main{
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  grid-template-columns: repeat(6,1fr);

  padding: 20px;
  
  
}
.categories-list{
  border-radius: 12px ;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  display: flex;
  margin: 12px;
  background-color: white;
  align-items: center;
}
.categories-list:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.categories-list img{
  width: 80px;
  border-radius: 12px;
  height: 82px;
}
.foryou-main{
  max-width: 1280px;
  margin: 0 auto;
  background-color: #f6f9fc;
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}